{:paths ["src" "test" "resources"]
 :deps
 {org.clojure/core.match {:mvn/version "0.3.0"}
  org.clojure/core.logic {:mvn/version "0.8.11"}
  org.clojure/core.async {:mvn/version "0.6.532"}
  clojure-lanterna       {:mvn/version "0.9.7"}}}
